.aa td:hover{
color: orange; text-decoration: underline;
}

.allBorders {
    border-left: 1 solid #CCDDEF; 
    border-right: 1 solid #CCDDEF; 
    border-bottom: 1 solid #CCDDEF;
    border-top: 1 solid #CCDDEF;
}

.appHeader { 
    background-image:url(images/topGradRepeat.jpg); 
    background-repeat: repeat-x; 
    border-bottom: 1 solid #7daad4;
} 

.blueRepeat { 
    background-image:url(images/darkBlue_GRAD.jpg); 
    background-repeat: repeat-x; 
} 

.bodyText {
    font-family:verdana;
    font-size: .8em;
    color: black;
    letter-spacing:0;
    line-height:150%;
    padding-left:30;
    padding-right: 20;
    padding-top: 10;
}
     
.bodyTextLeftPadding {
    font-family:verdana;
    font-size: .8em;
    color: black;
    letter-spacing:0;
    line-height:150%;
    padding-left:10;
}

.bodyTextLowPadding {
    font-family:verdana;
    font-size: .9em;
    color: black;
    letter-spacing:0;
    line-height:150%;
    padding-left:10;
} 

.bodyTextLowPaddingSelected { 
    font-family:verdana; 
    font-size: .9em;
    color: black;
    letter-spacing:0;
    line-height:150%;
    padding-left:10;
    background-color:#EEEEEE;
} 

.bodyTextNoPadding {
    font-family:verdana; 
    font-size: .8em;
    color: black; 
    letter-spacing:0; 
    line-height:150%;
}

.bodyTextNoTopPadding { 
    font-family:verdana; 
    font-size: .8em;
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:30; 
    padding-right: 20; 
}

.bodyTextLowTopPadding { 
    font-family:verdana; 
    font-size: .8em;
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
}

.bodyTextLeftPadding5 { 
    font-family:verdana; 
    font-size: .8em;
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:5; 
}

.bottomRow { 
    background-color: #3266CC; 
    padding-left:30; 
    font-family:tahoma;     
} 

.button0 { 
    font-family:Trebuchet MS; 
    font-size: .6em; 
    color: black; 
    cursor:hand; 
} 

.button1 { 
    font-family:Trebuchet MS; 
    font-size: .6em; 
    color: black; 
    text-decoration:underline;
    cursor:hand; 
} 

.buttonCell { 
    background-color: #FEE17B;
    padding-right:20; 
}

.buttonRow { 
    border-bottom: 5 solid #FEE17B;
    padding-left:30; 
} 

.callOutStyle {
    background-color: #6699CC; 
    font-family:tahoma; 
    font-size: 0.9em; 
    color: white; 
    font-weight:bold; 
    line-height:150%;
}

.callOutHeaderStyle {
    background-color: #6699CC; 
    padding-left:7; 
    font-family:tahoma; 
    font-size: 0.9em; 
    color: white; 
    font-weight:bold; 
    line-height:150%;
}


.callOutStyleLowLeftPadding {
    background-color: #6699CC; 
    font-family:tahoma; 
    font-size: 0.9em; 
    color: white; 
    font-weight:bold; 
    line-height:150%;
    padding-left:15; 
    padding-right: 20;     
    padding-top: 3;
    padding-bottom: 3;

}

.callOutStyleNoLeftPadding {
    background-color: #6699CC; 
    font-family:tahoma; 
    font-size: 0.9em; 
    color: white; 
    font-weight:bold; 
    line-height:150%;
    padding-right: 20;     
    padding-top: 3;
    padding-bottom: 3;

}

.callOutStyleNoBorder {
    background-color: #6699CC; 
    font-family:tahoma; 
    font-size: 0.9em; 
    color: white; 
    font-weight:bold; 
    line-height:150%;
    padding-left:30; 
    padding-right: 20;     
    padding-top: 3;
    padding-bottom: 3;

}

.darkBlueShadow {
    background-image:url(images/gradient_onblue.gif); 
    background-repeat: repeat-x; 
} 


/*
    Deselected tab.  The left most cell that contains the tab left corner .gif
*/
.deSTabLeft	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	border-collapse: separate;
	
	background-image: url(images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	cursor:hand;
}

/*
    Deselected tab.  The center cell that contains the tab text
*/
.deSTabCenter	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 1 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	font-family: tahoma;
	font-size: .7em;
	color: #000000;
	font-weight: normal;
	padding-bottom:2;
	cursor:hand;
}

/*
    Deselected tab.  The right most cell that contains the tab right corner .gif
*/
.deSTabRight	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	

	background-image: url(images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:hand;
}

.gridRowStyle {
    background-color:#FFFFFF;
    font-family:tahoma; 
    font-size: .7em;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    
}

.gridRowStyle8 {
    background-color:#FFFFFF;
    font-size:.8em;
    font-family:tahoma; 
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    
}


.gridPagerStyle {
    color:#000000; 
    background-color:#EEEEEE; 
    font-size: .7em;
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
}

.gridAlternatingRowStyle {
    font-family:tahoma; 
    font-size: .7em;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    background-color: #CADBED; 
    border-left: 1 solid #CCDDEF;
    border-right: 1 solid #CCDDEF;
}

.gridAlternatingRowStyle8 {
    font-family:tahoma; 
    font-size:.8em;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    background-color: #CADBED; 
    border-left: 1 solid #CCDDEF;
    border-right: 1 solid #CCDDEF;
}

.gridSelectedRowStyle {
    background-color:#3266cc;
    font-family:tahoma; 
    font-size: .7em;
    color: white;
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    border-left: 1 solid #CCDDEF;
    border-right: 1 solid #CCDDEF;
}

.helloUser { 
    font-weight:bold; 
}

.hide {
    visibility:hidden;
}

.homePageContent {
	padding:5;
}

/*
    Footer region.
*/

.homePageFooter{
	border-left: 0 solid #ffffff;
	border-top: 0 solid #ffffff;
	border-right: 0 solid #ffffff;
	border-bottom: 5 solid #FFE17C;
}

/*
    Repeating gif in the header region
*/
.homePageHeader{
	background-image: url(images/headerGRADIENT_Tall.gif);
	background-repeat: repeat-x;
	background-position: left top;
}


/*
    Hover style.  The left most cell that contains the tab left corner .gif
*/
.hoverTabLeft	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	border-collapse: separate;
	
	background-image: url(images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	cursor:hand;
}

/*
    Hover style.  The center cell that contains the tab text
*/
.hoverTabCenter	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 1 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	font-family: tahoma;
	font-size: .7em;
	color: #000000;
	font-weight: normal;
	padding-bottom:2;
	cursor:hand;
}

/*
    Hover style.  The right most cell that contains the tab right corner .gif
*/
.hoverTabRight	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1 solid #6699CC;
	

	background-image: url(images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:hand;
}

.itemDetailsContainer {
    background-color:#EEEEEE;    
}
 
.lbBorders {
    border-left: 1 solid #CCDDEF; border-bottom: 1 solid #CCDDEF;
}

.lightShadow {
    background-image:url(images/gradient_onwhite.gif); 
    background-repeat: repeat-x; 
} 

.lrbBorders {
    border-left: 1 solid #CCDDEF; border-right: 1 solid #CCDDEF; border-bottom: 1 solid #CCDDEF;
}

.leftWizard {
    background-color: #3266CC; 
    padding-left:3;
    padding-right:5;
    padding-top:10;
    font-family:tahoma; 
    font-size: 0.9em;
    color: white; 
}

.logOff { 
    font-family:tahoma;  
    font-size: .7em; 
    color: white; 
    font-weight:normal;  
    text-decoration:underline; 
    cursor:hand; 
    padding-right: 20;
    padding-left: 20; 
}

.logoText { 
    font-family:tahoma; 
    font-size: 1.3em; 
    color: white;
    font-weight:bold; 
} 

/*
     Selected tab.  The left most cell that contains the tab left corner .gif
*/
.selTabLeft	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	
	background-image: url(images/selectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top left;
	
	cursor:default;
}

/*
    Selected tab.  The center cell that contains the tab text
*/
.selTabCenter	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 1 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	font-family: tahoma;
	font-size: .7em;
	color: #000000;
	font-weight: bold;
	padding-bottom:2;
	cursor:default;
}

/*
    Selected tab.  The right most cell that contains the tab right corner .gif
*/
.selTabRight	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	
	background-image: url(images/selectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:default;
}

/*
    Table cells in the tab table that are used as spacers between the tab buttons
*/
.spacerTab	{
	background-color:transparent;
	border-bottom: 1 solid #6699CC;
}

.userDetails {
    background-color: #EEEEEE;
    font-family:verdana; 
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:30; 
    padding-right: 20; 
    padding-top: 10;    
    border-left: 1 solid #CCDDEF; border-right: 1 solid #CCDDEF; border-bottom: 1 solid #CCDDEF;
}

.userDetailsLowLeftPadding {
    background-color: #EEEEEE;
    font-family:verdana; 
    font-size: .7em;
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:15; 
    padding-right: 20; 
    padding-top: 10;    
    border-left: 1 solid #CCDDEF; border-right: 1 solid #CCDDEF; border-bottom: 1 solid #CCDDEF;
}

.userDetailsWithFontSize {
    background-color: #EEEEEE;
    font-family:verdana; 
    font-size: .8em; 
    color: black; 
    letter-spacing:0; 
    line-height:150%;
    padding-left:30; 
    padding-right: 20; 
    padding-top: 10;    
    border-left: 1 solid #CCDDEF; border-right: 1 solid #CCDDEF; border-bottom: 1 solid #CCDDEF;
}

/*
   Live text of "Web Site Administration Tool" in branding region
*/
.webToolBrand	{
	font-family: Franklin Gothic Medium;
	font-size: 1.1 em;
	color: #FFFFFF;
	position:relative; top: -2;left: -1;
}


.WelcomeText { 
    font-family:tahoma; font-size: .7em; color: white;font-weight:bold 
}
 
.wizardClass {
    padding-left:30;
    padding-top:30;
}

.wizardClassNoWatermark {
    padding-left:30;
    padding-top:30;
    font-family:verdana;
    font-size: .9em;
}

/*
*  For
*/

a.helpHyperLink:hover {
	color: #ffffff;
	font-family:Tahoma;
	font-size: .7em;
}

a.helpHyperLink:link {
	color: #ffffff;
	font-family:Tahoma;
	font-size: .7em;
}
a.helpHyperLink:visited {
	color: #ffffff;
	font-family:Tahoma;
	font-size: .7em;
}

/*************************************
 *
 * Obsolete, need to be replaced in 
 * pages
 *
 *************************************/
 
a.gridSelectedRowStyle:visited {
    color:white;
}

a.gridSelectedRowStyle:link {
    color:white;
}
.activeBTNImage { 
    FILTER: progid:DXImageTransform.Microsoft.Glow( Color=DDDDDD,Strength=7); 
} 
.helperText { 
    font-family:verdana; 
    font-size: 0.7em; 
    color: white; 
    font-weight:bold; 
    text-decoration:underline; 
    cursor:hand; 
    position:relative;
    top: -5; 
} 

