<?xml version ="1.0"?>
<configuration>
    <startup>
        <requiredRuntime  safemode="true"  imageVersion="v1.0.3705" version="v1.0.3705"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <publisherPolicy apply="no"/>
        </assemblyBinding>
    </runtime>
</configuration>

